<?php
/*
$block['verstak']['configure'] = true; // If set 'true', the code to save the configuration block will run
$block['verstak']['create'] = false; // If set 'true', the code to create the block will run

$block['module'] = 'menu'; // Module that owns the block
$block['delta'] = 'menu-top'; // block delta
$block['title'] = '<none>'; // block title

$block['regions']['zen'] = 'all_region_top_logo'; // region and theme in which block will placed

$block['weight'] = 0; // block weight
$block['status'] = '1'; // block status


$block['visibility'] = 0;// visibility(0 - invisible, 1 - visible)
$block['pages'] = '';//on pages
$block['custom'] = 0;//?
$block['roles'] = array();//visible for roles



$block['css_class'] = 'block-class'; // css class for block
$block['info'] = ''; // block name on a page with a list of blocks
$block['body']['format'] = 'full_html';// format for block body
// block content - body
$block['body']['value'] = <<<EOFB
<a href="#"><img class="image-class" src="../www/sites/all/themes/zen/images/banner.png"></a>
EOFB;

 */