<?php

$vocab['name']='category for gifts';

$vocab['nodes'] = array('gift'=>'gift');
$vocab['description']='vocabular for gifts category';
$vocab['relations']='1';
$vocab['multiple']='0';
$vocab['required']='0';
$vocab['tags']='0';
$vocab['weight']='0';

$vocab['items']='
Women
Men
Babies
Kids and Teens
Books, Music, and Videos
Electronics and Computers
Health and Beauty
Bed and Bath
Home and Office
Games and Toys
Sports and Outdoors
Jewelry and Watches
';
