<?php
$menu['menu']['menu_name'] = 'site-top-menu';
$menu['menu']['title'] = 'Site-top menu';
$menu['menu']['description'] = 'Site-top menu';


$menu['items'] ="
Item1|<front>
Item2|<front>
    Item21|<front>
    Item22|<front>
        Item23|<front>
Item3|<front>
    Item31|<front>
    Item32|<front>
    Item33|<front>
Item4|<front>
    Item41|<front>
    Item42|<front>
    Item43|<front>
Item5|<front>
Item6|<front>
";